@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin:  0;
}

body {
    background-color: #000000;
    color: #ff02b3fd;
    box-sizing: border-box;
}

.titulo1 {
    color: #cf01e2fd;
    font-size: 30px;
    font-family: "Montserrat", serif;
    text-align: center;
    margin-top: 20px;
}

.parrafo1 {
    color: #a509ff;
    font-size: 20px;
    font-family: Arial,;
    text-align: center;
    margin-top: 20px;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.imagen-mia {
    width: 300px;
    height: 450px;
    border-radius: 20%;
    margin-top: 50px;
}