*{
    padding: 0;
    margin:  0;
}

body {
    background-color: #000000;
    color: #ff02b3fd;
    box-sizing: border-box;
}

.titulo1 {
    color: #cf01e2fd;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.parrafo1 {
    color: #a509ff;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}